// Colors
$container-background: #fff;
$chip-background: rgba(102, 153, 255, 0.2);
$chip-border-color: #C3C2CF;
$input-placeholder-color: #C3C2CF;
$invalid-chip-border-color: red;
$remove-icon-color: #050038;

// Height/width
$input-container-height: 200px;
$chip-border-radius: 100px;

// Font sizes
$remove-icon-font-size: 14px;
$font-size-sm: 14px;
